#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second, #secondsmall{
    position: absolute;
    background: black;
    border-radius: 50%;
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    background-color: rgb(189, 8, 8);
    width: 1%;
    height: 41%;
    top: 9%;
    left: 49.34%;
    opacity: 0.8;
    
}
#secondsmall{
    background-color: rgb(189, 8, 8);
    width: 1%;
    height: 9%;
    top: 50%;
    left: 49.34%;
    opacity: 0.8;
    transform-origin: top;
}
#pin{
    position: absolute;
    background-color: goldenrod;
    width: 3%;
    height: 3%;
    border: 2px solid rgba(189, 8, 8, 0.8);
    border-radius: 50%;
    top: 48%;
    left: 48%;
}